img{
	width:900px;
}
body{
	background-color:Moccasin;
	font-family:Arial;
	text-align:center;
}
.red{
	color:red;
}
.big_font{
	font-size:32px;
}
.small_font{
	font-size:16px;
}
#icecream{
	width:100px;
}